@font-face {
	font-family: "Lovelo-LineLight";
	src: url("/src/assets/font/Lovelo-LineLight.eot");
	src: url("/src/assets/font/Lovelo-LineLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Lovelo-LineLight.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Lovelo-LineLight.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Lovelo-LineLight.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Lovelo-LineLight.svg#Lovelo-LineLight") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Crystalline Outline";
	src: url("/src/assets/font/Crystalline Outline.eot"); /* IE9*/
	src: url("/src/assets/font/Crystalline Outline.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Crystalline Outline.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Crystalline Outline.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Crystalline Outline.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Crystalline Outline.svg#Crystalline Outline") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Blenny W01 Black";
	src: url("/src/assets/font/Blenny W01 Black.eot"); /* IE9*/
	src: url("/src/assets/font/Blenny W01 Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Blenny W01 Black.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Blenny W01 Black.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Blenny W01 Black.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Blenny W01 Black.svg#Blenny W01 Black") format("svg"); /* iOS 4.1- */
}
 
@font-face {
	font-family: "Regular";
	src: url("/src/assets/font/Regular.eot"); /* IE9*/
	src: url("/src/assets/font/Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Regular.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Regular.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Regular.svg#Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Kessel 205 W00 Thin";
	src: url("/src/assets/font/Kessel 205 W00 Thin.eot"); /* IE9*/
	src: url("/src/assets/font/Kessel 205 W00 Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Kessel 205 W00 Thin.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Kessel 205 W00 Thin.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Kessel 205 W00 Thin.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Kessel 205 W00 Thin.svg#Kessel 205 W00 Thin") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Reklame Script W00 Bold";
	src: url("/src/assets/font/Reklame Script W00 Bold.eot"); /* IE9*/
	src: url("/src/assets/font/Reklame Script W00 Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Reklame Script W00 Bold.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Reklame Script W00 Bold.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Reklame Script W00 Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Reklame Script W00 Bold.svg#Reklame Script W00 Bold") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Veneer W01 Two";
	src: url("/src/assets/font/Veneer W01 Two.eot"); /* IE9*/
	src: url("/src/assets/font/Veneer W01 Two.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Veneer W01 Two.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Veneer W01 Two.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Veneer W01 Two.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Veneer W01 Two.svg#Veneer W01 Two") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Whatnot W00 Regular";
	src: url("/src/assets/font/Whatnot W00 Regular.eot"); /* IE9*/
	src: url("/src/assets/font/Whatnot W00 Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Whatnot W00 Regular.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Whatnot W00 Regular.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Whatnot W00 Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Whatnot W00 Regular.svg#Whatnot W00 Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Engravers Gothic W01 Bold";
	src: url("/src/assets/font/Engravers Gothic W01 Bold.eot"); /* IE9*/
	src: url("/src/assets/font/Engravers Gothic W01 Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Engravers Gothic W01 Bold.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Engravers Gothic W01 Bold.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Engravers Gothic W01 Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Engravers Gothic W01 Bold.svg#Engravers Gothic W01 Bold") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Arame Mono Stencil";
	src: url("/src/assets/font/Arame Mono Stencil.eot"); /* IE9*/
	src: url("/src/assets/font/Arame Mono Stencil.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Arame Mono Stencil.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Arame Mono Stencil.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Arame Mono Stencil.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Arame Mono Stencil.svg#Arame Mono Stencil") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Squarodynamic 07";
	src: url("/src/assets/font/Squarodynamic 07.eot"); /* IE9*/
	src: url("/src/assets/font/Squarodynamic 07.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Squarodynamic 07.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Squarodynamic 07.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Squarodynamic 07.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Squarodynamic 07.svg#Squarodynamic 07") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "CFPunkRockShow-Regular";
	src: url("/src/assets/font/CFPunkRockShow-Regular.eot"); /* IE9*/
	src: url("/src/assets/font/CFPunkRockShow-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/CFPunkRockShow-Regular.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/CFPunkRockShow-Regular.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/CFPunkRockShow-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/CFPunkRockShow-Regular.svg#Squarodynamic 07") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Colo-Pro-Black";
	src: url("/src/assets/font/Colo-Pro-Black.eot"); /* IE9*/
	src: url("/src/assets/font/Colo-Pro-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Colo-Pro-Black.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Colo-Pro-Black.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Colo-Pro-Black.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Colo-Pro-Black.svg#Colo-Pro-Black") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "HirukoStencil";
	src: url("/src/assets/font/HirukoStencil.eot"); /* IE9*/
	src: url("/src/assets/font/HirukoStencil.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/HirukoStencil.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/HirukoStencil.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/HirukoStencil.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/HirukoStencil.svg#HirukoStencil") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "ChaletComprime-LosAngeles";
	src: url("/src/assets/font/ChaletComprime-LosAngeles.eot"); /* IE9*/
	src: url("/src/assets/font/ChaletComprime-LosAngeles.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/ChaletComprime-LosAngeles.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/ChaletComprime-LosAngeles.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/ChaletComprime-LosAngeles.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/ChaletComprime-LosAngeles.svg#ChaletComprime-LosAngeles") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Carouselambra W00 Regular";
	src: url("/src/assets/font/Carouselambra W00 Regular.eot"); /* IE9*/
	src: url("/src/assets/font/Carouselambra W00 Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Carouselambra W00 Regular.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Carouselambra W00 Regular.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Carouselambra W00 Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Carouselambra W00 Regular.svg#Carouselambra W00 Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Frontage W00 Bold";
	src: url("/src/assets/font/Frontage W00 Bold.eot"); /* IE9*/
	src: url("/src/assets/font/Frontage W00 Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Frontage W00 Bold.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Frontage W00 Bold.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Frontage W00 Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Frontage W00 Bold.svg#Frontage W00 Bold") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "BlairMdITC TT Medium";
	src: url("/src/assets/font/BlairMdITC TT Medium.eot"); /* IE9*/
	src: url("/src/assets/font/BlairMdITC TT Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/BlairMdITC TT Medium.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/BlairMdITC TT Medium.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/BlairMdITC TT Medium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/BlairMdITC TT Medium.svg#BlairMdITC TT Medium") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Adelle Sans W01 Thin";
	src: url("/src/assets/font/Adelle Sans W01 Thin.eot"); /* IE9*/
	src: url("/src/assets/font/Adelle Sans W01 Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Adelle Sans W01 Thin.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Adelle Sans W01 Thin.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Adelle Sans W01 Thin.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Adelle Sans W01 Thin.svg#Adelle Sans W01 Thin") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Brush Up Too W01 Regular";
	src: url("/src/assets/font/Brush Up Too W01 Regular.eot"); /* IE9*/
	src: url("/src/assets/font/Brush Up Too W01 Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Brush Up Too W01 Regular.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Brush Up Too W01 Regular.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Brush Up Too W01 Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Brush Up Too W01 Regular.svg#Brush Up Too W01 Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "NeueHaasGroteskDisp W01 Lt";
	src: url("/src/assets/font/NeueHaasGroteskDisp W01 Lt.eot"); /* IE9*/
	src: url("/src/assets/font/NeueHaasGroteskDisp W01 Lt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/NeueHaasGroteskDisp W01 Lt.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/NeueHaasGroteskDisp W01 Lt.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/NeueHaasGroteskDisp W01 Lt.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/NeueHaasGroteskDisp W01 Lt.svg#NeueHaasGroteskDisp W01 Lt") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Prelo Slab W01 X Bold";
	src: url("/src/assets/font/Prelo Slab W01 X Bold.eot"); /* IE9*/
	src: url("/src/assets/font/Prelo Slab W01 X Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Prelo Slab W01 X Bold.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Prelo Slab W01 X Bold.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Prelo Slab W01 X Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Prelo Slab W01 X Bold.svg#Prelo Slab W01 X Bold") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Eurostile Extended #2";
	src: url("/src/assets/font/Eurostile Extended #2.eot"); /* IE9*/
	src: url("/src/assets/font/Eurostile Extended #2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/src/assets/font/Eurostile Extended #2.woff2") format("woff2"), /* chrome、firefox */
	url("/src/assets/font/Eurostile Extended #2.woff") format("woff"), /* chrome、firefox */
	url("/src/assets/font/Eurostile Extended #2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("/src/assets/font/Eurostile Extended #2.svg#Eurostile Extended #2") format("svg"); /* iOS 4.1- */
}

//CON BORDES
//font-family: "Lovelo-LineLight" !important;

//SHADOWS
//font-family: "Crystalline Outline" !important;
//font-family:"Brush Up Too W01 Regular" !important;


//LINEAS FINAS Y GRUESAS
//font-family: "Regular" !important;

//FINA REGULAR
//font-family: "Kessel 205 W00 Thin" !important;
//font-family:"Adelle Sans W01 Thin" !important;
//font-family: "Veneer W01 Two";
//font-family: "Whatnot W00 Regular";
//font-family: "Engravers Gothic W01 Bold";
//font-family: "HirukoStencil";
//font-family: "ChaletComprime-LosAngeles";
//font-family: "BlairMdITC TT Medium" !important;
//font-family: "NeueHaasGroteskDisp W01 Lt" !important;
//font-family: "Eurostile Extended #2" !important;



//REGULAR CON LINEAS
//font-family: "Arame Mono Stencil";
//font-family: "Squarodynamic 07";
//font-family:"Carouselambra W00 Regular" !important; MUY LINDA


//BOLD
//font-family: "Blenny W01 Black" !important;
//font-family: "Colo-Pro-Black";
//font-family:"Frontage W00 Bold" !important;
//font-family:"Prelo Slab W01 X Bold" !important;



//CURSIVA  BOLD MANUSCRITA
//font-family: "Reklame Script W00 Bold";

//MUY BUENA LETRAS CON FONDOS
//font-family: "CFPunkRockShow-Regular"; zarpada