
body {
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: $color-gray-dark;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;
	
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Reklame Script W00 Bold";

	&--main {

		display: block;
		font-size: 8rem;
		font-weight: 700;
		padding: 0;

		-webkit-animation: ColorAnimated 20s infinite alternate linear; 
		-moz-animation: ColorAnimated 20s infinite alternate linear; 
		-o-animation: ColorAnimated 20s infinite alternate linear; 
		
		&::after,
		&::before {
			content: "";
		    height: 1px;
		    display: block;
		    background-color: currentColor;
		}
		@include respond(tablet-portrait) {
			font-size: 7rem;
		}
		@include respond(phone) {
			letter-spacing: 1rem;
			font-size: 5.5rem;
			}
		}
		
	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: 1.5rem;
		padding-top: 1rem;
		font-family: 'Josefin Slab', serif;

		animation-name: moveInRight;
		animation-duration: 2s;
		animation-timing-function: ease-out;	
		
			@include respond(phone) {
				font-size: 1.5rem;
			}
			@include respond(tablet-portrait) {
				font-size: 2rem;
			}
		}

		@include respond(phone) {
			letter-spacing: .5rem;			
		}
	}

.heading-secondary,
.heading-main {
	font-size: 4.5rem;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block;
	background-image: linear-gradient(
		to right, $color-tertiary-light, $color-tertiary-dark);
	-webkit-background-clip: text; //cut the bg using the linear-gradient
	color: transparent;
	letter-spacing: .2px;
	transition: all .2s; 
	font-family: "Reklame Script W00 Bold";

	@include respond(tablet-portrait) {
		font-size: 4rem;
	}
	
	@include respond(phone) {
		font-size: 3rem;
	}
	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
	}
}
.heading-main {
	font-size: 5.5rem;
}
.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
	@include respond(phone) {
		font-size: 1.75rem;
	}
}
.heading-four {
	font-family: "Reklame Script W00 Bold";
	font-size: 4.5rem;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block;
	-webkit-background-clip: text; //cut the bg using the linear-gradient
	color: $color-white;
	letter-spacing: .2px;
	transition: all .2s; 
	margin-bottom: 10rem;

	@include respond(tablet-portrait) {
		font-size: 3.5rem;
	}
	
	@include respond(phone) {
		font-size: 2.5rem;
	}
	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
	}
}

.heading-five {
	font-size: 2.5rem;
	line-height: 5.5rem;
	font-weight: initial;
	text-transform: uppercase;
	margin: 1rem 0 0 0;
    font-family: "Reklame Script W00 Bold";

	@include respond(tablet-portrait) {
		font-size: 2.4rem;
		margin: 0;
		padding: 0 2rem;
	}

	@include respond(phone) {
		margin: 0;
		font-size: 2rem;
	}
}

.heading-six,
.heading-seven {
    font-family: "Reklame Script W00 Bold";	
	font-size: 2.5rem;
	line-height: 4.5rem;
	font-weight: initial;
	text-transform: uppercase;
	margin: 1rem 0;
	@include respond(phone) {
		margin: 1rem 0 -5rem 0;
	}	
}
.heading-seven {
	color:#df0e62;
	font-size: 3rem;
	margin: 1.5rem 0;
}

.heading-border {
	border: solid 2px #df0e62;
}
.paragraph {
	list-style: none;
	line-height: 2;
	font-size: 2rem;

	&:not(:last-child){
		margin-bottom: 3rem;
		margin-top: 1rem;
	}

	&__resume {
		padding: 1rem 5rem 0 5rem;
		font-size: 2.25rem;
    	line-height: 2;
	}
}

