.composition1{
	position: relative;
	min-height: 30rem;
	&__photo {
		width: 50%;
		@include respond(tablet-portrait){
			width: 45%;
		}
	}
}
.composition {
	position: relative;
	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
		border-radius: 2px;
		position: absolute;
		transition: all .2s;
		z-index: 10;
		outline-offset: 2rem;

		@include respond(tablet-portrait){
			float: left;
			position: relative;
			width: 33.333%;
			box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
		}

		&--p1 {
			left: 0;
			top: -2rem;
			
			@include respond(tablet-portrait){
				top: 4rem;
				z-index: 11;
			}
		}
		&--p2 {
			right: 0;
			top: 2rem;
			
			@include respond(tablet-portrait){
				//top: -1rem;
				z-index: 100;
			}
		}
		&--p3 {
			left: 20%;
			top: 10rem;
			
			@include respond(tablet-portrait) {
				left: -1rem;
				top: 3rem;
				z-index: 150;
			}
		}
		&--p4 {
			left: 40%;
			top: 18rem;
			
			@include respond(tablet-portrait) {
				left: -15rem;
				top: -1rem;
				z-index: 150;
			}
			@include respond(phone) {
				left: -9rem;
    			top: -1rem;
				z-index: 150;
			}						
		}

		&:hover {
			outline: 1.5rem solid $color-tertiary-light;
			transform: scale(1.05) translateY(-.5rem);
			box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
			z-index: 20;
		}
	}  

	&:hover &__photo:not(:hover) {
		transform: scale(.95);
	}
}