<!-- Advanced CSS  -->
<section class="section-book animated fadeIn" id="about">
  <div class="u-text-center u-margin-bottom-big">
      <h2 class="heading-secondary">
           Advanced CSS
      </h2>
       <h3 class="heading-tertiary">Cards Animated</h3>

      <p class="paragraph paragraph__resume">
          This card was created with the following CSS property: perspective, linear-gradient, clip-path with different sizes, backface-visibility.
      </p>
  </div>

  <div class="containerCardsAnimated">
      <div class="card">
         <div class="card__side card__side--front card__side--black">
              <div class="card__picture card__picture--1">
                  &nbsp;
              </div>
              <h4 class="card__heading u-text-center">
                  <span class="card__heading-span card__heading-span--1">Jack Daniel's</span>
              </h4>
              <div class="card__details">
                  <ul>
                      <li>Name: Jack Daniels Old N7</li>
                      <li>Type: Bourbon</li>
                      <li>Line: Tennesse Whiskey</li>
                      <li>Vol.750ml</li>
                  </ul>
              </div>
         </div>
         <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                  <div class="card__price-box">
                      <p class="card__price-only">Only</p>
                      <p class="card__price-value">USD297</p>
                  </div>
                  <a href="#" class="btn btn--white">Buy now!</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card__side card__side--front">
              <div class="card__picture card__picture--2">
                  &nbsp;
              </div>
              <h4 class="card__heading">
                  <span class="card__heading-span card__heading-span--2">Flensburger</span>
              </h4>
              <div class="card__details card__details--4">
                  <ul>
                      <li>Name: Flensburger Wasser</li>
                      <li>Typ: Bourbon</li>
                      <li>Linie: Tennesse Whiskey</li>
                      <li>Vol.750ml</li>
                  </ul>
              </div>

          </div>
          <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                  <div class="card__price-box">
                      <p class="card__price-only">nur</p>
                      <p class="card__price-value">1,29 €</p>
                  </div>
                  <a href="#" class="btn btn--white">Kaufe jetzt!</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card__side card__side--front">
              <div class="card__picture card__picture--4">
                  &nbsp;
              </div>
              <h4 class="card__heading">
                  <span class="card__heading-span card__heading-span--4">Cerveza Toña</span>
              </h4>
              <div class="card__details card__details--4">
                  <ul>
                      <li>Nombre: Cerveza Toña</li>
                      <li>Origen: Nicaragua</li>
                      <li>Vol. 4.6%</li>
                      <li>Año: 1977</li>
                  </ul>
              </div>

          </div>
          <div class="card__side card__side--back card__side--back-4">
              <div class="card__cta">
                  <div class="card__price-box">
                      <p class="card__price-only">Valor</p>
                      <p class="card__price-value">USD 30</p>
                  </div>
                  <a href="#" class="btn btn--white">Comprar ahora!</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card__side card__side--front">
              <div class="card__picture card__picture--3">
                  &nbsp;
              </div>
              <h4 class="card__heading u-text-right">
                  <span class="card__heading-span card__heading-span--3">Desesperados</span>
              </h4>
              <div class="card__details">
                  <ul>
                      <li>Nombre: Desesperados Cerveza con Tequila</li>
                      <li>Origen: Francia</li>
                      <li>Vol. 5,9º%</li>
                      <li>Año: 1995</li>
                  </ul>
              </div>

          </div>
          <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                  <div class="card__price-box">
                      <p class="card__price-only">Solo</p>
                      <p class="card__price-value">$897</p>
                  </div>
                  <a href="#" class="btn btn--white">Comprar Ahora!</a>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Angular  -->
<section class="section-about" >
    <div class="u-text-center u-margin-bottom-small">
        <h2 class="heading-secondary u-margin-bottom-medium">
            Angular & Firebase
        </h2>
        <h3 class="heading-tertiary">Playing with Angular</h3>
        <p class="paragraph paragraph__resume">
            Small Projects with Angular, Flexbox & Firebase, using different functionality like: Search Component, Card with list, Security Login, etc. 
        </p>
    </div>
    <div class="containerdWorkComponent">
        <div class="cardFlexbox">
            <div class="cardFlexbox__examples">
                <img src="assets/img/nat-55.jpg" class="imgCard" alt="Porfolio">
            </div>
            <h5>Porfolio</h5>
            <p><span>Development</span>Portfolio created with Angular, contain a Search component, Routing with child items & card details. Use Firebase, Flexbox, and Animate css.</p>
        </div> 
    </div>
</section>

<!-- Flexbox  -->
<section class="section-about">
        <div class="u-text-center u-margin-bottom-small">
                <h2 class="heading-secondary u-margin-bottom-medium">
                   Flexbox
                </h2>
                <h3 class="heading-tertiary">Landing Pages created with Flexbox</h3>
                <p class="paragraph paragraph__resume">
                    This project was created with Flexbox and HTML5, CSS3 and @animations. 
                    SVG images was used with the icons that generating sprites, changing SVG colors in CSS and best practices. 
                    BEM methodology & Mask property was used in this Landing page.
                </p>
            </div>

      <div class="containerdWorkComponent">
            <div class="cardFlexbox">
                <div class="cardFlexbox__examples">
                    <img src="assets/img/nat-2.jpg" class="imgCard" alt="Hotel ">
                </div>
                <h5>Hotel  Elephant</h5>
                <p><span>Development</span>Blockuote @animated, a Tooltip created with CSS3. Social Media Icons with CSS3, Gallery & Object Media.</p>
            </div> 
            <div class="cardFlexbox">
                <div class="cardFlexbox__examples">
                    <img src="assets/img/nat-41.jpg" class="imgCard" alt="Grand Hotel">
                </div>
                <h5>Grand Hotel</h5>
                <p><span>Development</span>Landing Page with Gallery & Contact Form</p>
            </div>             
      </div>             
</section>

<!-- Newsletter  -->
<section class="section-about" >
  <div class="u-text-center u-margin-bottom-small">
      <h2 class="heading-secondary u-margin-bottom-medium">
         Newsletter
      </h2>
      <h3 class="heading-tertiary">Font Awesome & Flexbox</h3>
      <p class="paragraph paragraph__resume">
          Small landing pages created with flexbox, SASS, using BEM and Font Awesome. The Landing pages are totally responsive and animated.
      </p>
  </div>
  <div class="containerdWorkComponent">
    <div class="cardFlexbox">
        <div class="cardFlexbox__examples">
            <img src="assets/img/nat-51.jpg" class="imgCard" alt="Love Live Music">
        </div>
        <h5>Love Live Music</h5>
        <p><span>Development & UX</span>Font Awesome, @Animations & CTA</p>
    </div> 
    <div class="cardFlexbox">
        <div class="cardFlexbox__examples">
            <img src="assets/img/nat-52.jpg" class="imgCard" alt="Discount 40%">
        </div>
        <h5>Discount 40%</h5>
        <p><span>Development</span>Created from Scratch, Use SASS, BEM and @AnimationCSS</p>
    </div> 
    <div class="cardFlexbox">
        <div class="cardFlexbox__examples">
            <img src="assets/img/nat-53.jpg" class="imgCard" alt="Discount 50%">
        </div>
        <h5>Discount 50%</h5>
        <p><span>Development</span>Created from Scratch, Use SASS, BEM and @AnimationCSS</p>
    </div>         
    <div class="cardFlexbox">
        <div class="cardFlexbox__examples">
            <img src="assets/img/nat-50.jpg" class="imgCard" alt="Black Friday Hot Deals">
        </div>
        <h5>Black Friday Hot Deals</h5>
        <p><span>Development</span>Template created fron Scratch. Use SASS, BEM and @AnimationCSS</p>
    </div>                 
    <div class="cardFlexbox">
        <div class="cardFlexbox__examples">
            <img src="assets/img/nat-54.jpg" class="imgCard" alt="NMS - Hotel Group">
        </div>
        <h5>NMS - Hotel Group</h5>
        <p><span>Development</span>Template created fron Scratch. Use SASS, BEM and @AnimationCSS</p>
    </div>                       
  </div>
</section>

 <!-- Bootstrap  -->
<section class="section-about" >
    <div class="u-text-center u-margin-bottom-small">
            <h2 class="heading-secondary u-margin-bottom-medium">
                Bootstrap
            </h2>
        <h3 class="heading-tertiary">Landing Pages created with Bootstrap</h3>
    </div>
    <div class="containerdWorkComponent">
        <div class="cardFlexbox">
            <div class="cardFlexbox__examples">
                <img src="assets/img/nat-13.jpg" class="imgCard" alt="Queen">
            </div>
            <h5>Queen</h5>
            <p><span>Development</span>Blockuote @animated, a Tooltip created with CSS3. Social Media Icons with CSS3, Gallery & Object Media.</p>
        </div> 
        <div class="cardFlexbox">
            <div class="cardFlexbox__examples">
                <img src="assets/img/nat-16.jpg" class="imgCard" alt="Lanin">
            </div>
            <h5>Lanin</h5>
            <p><span>Development</span>Landing Page with Gallery & Contact Form</p>
        </div>             
    </div>
</section>

