.footer {
	background-color: $color-tertiary-dark-3;
	padding: 10rem 0;
	font-size: 1.7rem;
	color: $color-gray-light-1;
	margin-top: 3rem;	

	@include respond(tablet-portrait) {
		padding: 8rem 0;
	}

	&__logo-box {
		text-align: center;
	
		@include respond(tablet-portrait) {
			margin-bottom: 4rem;
		}
	}

	&__logo {
		width: 15rem;
		height: auto;
	}

	&__navigation {
		border-top: 1px solid $color-gray-dark;
		padding-top: 2rem;
		display: inline-block;


		@include respond(tablet-portrait) {
			width: 100%;
			text-align: center;
		}
	}

	&__list {
		list-style: none;
		font-size: 2.25rem;
		letter-spacing: 1px;
		font-family:"Reklame Script W00 Bold";
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all .2s;
		}
 
		&:hover,
		&:active {
			color: $color-primary;
			box-shadow: 0 1rem 2rem rgba(#103, .4);
			transform: rotate(5deg) scale(1.3);
			background-color: $color-tertiary-light;
		}
	}

	&__copyright {
		border-top: 1px solid $color-gray-dark;
		padding-top: 2rem;
		width: 80%;
		float: right;
		font-size: $font-size-link;
		// letter-spacing: 3px;
		// font-family:"Reklame Script W00 Bold";

		i {
			color: $color-tertiary-light;
		}

		@include respond(tablet-portrait) {
			width: 100%;
			float: none;
		}		
	}
}