<header class="header">
  <div class="header__logo-box">
      <a routerLink="home">
          <h2 class="heading-main">{{infoPageService.info.userShort}}</h2>
      </a>
  </div>
 <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a routerLink="work" class="navigation__link" routerLinkActive="active">Work</a>
            </li>
            <li class="navigation__item">
                <a routerLink="about" class="navigation__link">About Me</a>
            </li>
            <li class="navigation__item">
                <a routerLink="contact" class="navigation__link">Contact</a>
            </li>
        </ul> 
    </nav>
</header>