.row {
	max-width: $grid-width;
	margin: 0 auto;

	&:not(:last-child) { // all the rows except the last child
		margin-bottom: $gutter-vertical;

		@include respond(tablet-portrait) {
			margin-bottom: $gutter-vertical-small;
		}
	}

	@include respond(tablet-portrait) {
        max-width: 50rem;
        padding: 0 3rem;
	}

	@include respond(phone) {
		padding: 0;
	}

	@include clearfix;

	[class^="col-"] { //at the beginin  //* all the class that contain col- //$ any class that end
			float: left;
			
			&:not(:last-child) { // all the rows except the last child
				margin-right: $gutter-horizontal;
				
				@include respond(tablet-portrait) {
					margin-right: 0;
					margin-bottom: $gutter-vertical-small;
				}	
			}

			@include respond(tablet-portrait) {
				width: 100% !important;
			}
	}  

	.col-1-of-2 {
		width: calc((100% - #{$gutter-horizontal}) / 2);
		@include respond(tablet-landscape) {
			padding: 0 2rem;
			margin-bottom: 0;
		}
		@include respond(phone) {
			margin-bottom: 0;
		}
	}

	
	.col-1-of-3 {
		width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
	}
	.col-2-of-3 {
		width: calc((100% * 2 - #{$gutter-horizontal}) / 3);
		//width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
	} 
	
	.col-1-of-4 {
		width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
	}

	.col-2-of-4 {
		width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
	}

	.col-3-of-4 {
		width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
	}	
}
