<section class="section-about animated fadeIn">    
    <div class="u-text-center u-margin-bottom-big u-space-between">
        <h2 class="heading-secondary">
            Résumé
        </h2>
        <p class="paragraph paragraph__resume u-margin-bottom-medium">Over 9 years of experience as web developer in front-end. I like some much work with different tecniques and the latest properties related to CSS3, HTML5, @animations and new tecniques. I been working with different tencologies like php, jsp, javascript, creating unit test, Testing and using different Css Frameworks like bootstrap & foundation but 2 year ago I deceided work with how to create a different templates with HTML5, CSS3, Flexbox and Grid Layout.</p>
    </div>
    <div class="paragraph u-space-between">
            <p>Las Updated: <strong>March 2019.</strong></p>
            <hr class="heading-border"/>
            <h2 class="heading-six">Work Experience</h2>

        <div class="paragraph">
            <h3 class="u-margin-top-small">FREELANCE</h3>
            <span>Nov 2018 - Present</span>
            <div>
                <h3>Flexbox Newsletter</h3>
                <span>2019</span>
                <p>Newsletter and forms created with flexbox, HTML5 and CSS3.</p>
            </div>
            <div>
                <h3>Portfolio With Angular & Firebase</h3>
                <span>2019</span>
                <p>Portfolio with a search component created with Angular from Scratch, using Firebase, Flexbox, HTML5 & SASS</p>
            </div>
            <div>
               <h3>Das Meer Blau</h3>
                    <span>2018 - Present</span>
                    Proyect updated with Angular & Firebase<br>
                    CSS architecture: BEM methodology.<br>
                    CSS techniques & effects: clip-path, background-clip, mask-image, background-blend-mode, shape-outside, filter, backdrop-filter, object-fit, transform, column-count, hyphens, perspective, calc() and custom CSS properties.<br>
                    Sass: variables, partials, imports, mixins, functions and extends.<br>
                    Responsive images in HTML and CSS for faster pageloads: resolution switching, density switching, art direction.<br>
                    Advanced CSS, animations with @keyframes and transition.<br>
                    This Site use NPM: setting up a development process to compile Sass and automatic browser reload, and creating a build process to concatenate, prefix and compress CSS files.<br>
            </div>
            <div>
                <h3>Wordpress' Page</h3>
                <span>2018/2019</span>
                <p>Website in development using php and Divi Builder & Monarch'Plugin...</p>
            </div>
            <div>
                <h3>Bootstrap'Landing Page</h3>
                <span>2018 - Present</span>
                <p>Landing Pages created with bootstrap.</p>
            </div>
            <div>
            <h3>GLOBANT</h3>
            <p>Web UI Developer</p>
            <span>Jun 2010   –   Oct 2018    •    8 year 4 months</span>
        
            <div>
                <h3>Interactive</h3>
                <span>2018</span>
                <p>Landing pages created with Bootstrap, HTML5, CSS3 and Angular.</p>
            </div>
            <div>
                <h3>Proffesional Development Series</h3>
                <span>2018</span>
                <p>Development of new functionality using javascript, HTML5 and CSS3. </p>
            </div>
            <div>
                <h3>Informatica Corporation</h3>
                <span>2017/2018</span>
                <p>​Updates, content loading, content publishing, troubleshooting, releases
                </p>
            </div>             
            <div>
                <h3>Chicago Tribune & Los Angeles Times</h3>
                <span>2013/2017</span>
                <p>Refactor Chicago Tribune and Los Angeles Times user interface to newest technologies. LATimes live in May 2013. Using pure responsive HTML5/CSS3 with Infuse and jQuery. Best practices and guidelines definition.</p>
            </div>
    
            <div>
                <h3>F.Biz</h3>
                <span>Apr-Jun/2014</span>
                <p>Vodafone Brasil in this project was maintained and added  a new functionality, was builded in Wordpress using Sass and HTML5.</p>
            </div>                
        
            <div>
                <h3>Vodafone</h3>
                <span>Jan-Apr/2014</span>
                <p>Website developed in Wordpress using HTML5 & Less.</p>
            </div> 

            <div>
                <h3>Deloitte Mar Central</h3>
                <span>2014/2016</span>
                <p>Site created using Bootstrap and Javascript MAR Central was an existing Sharepoint 2010 tool developed by a Third Party for Deloitte. Its main purpose is to facilitate M&A engagements for the clients of the consulting practice. As part of its roadmap, a redesign overhaul was requested. Aside from the look & feel, improvement in the end user usability as well as the operation usability was requested.The goal of the architecture was not to replace the current technology, but to build a side-by-side optimization that improves the UX capabilities while still maintaining the flexibility and familiarity of SharePoint for future upgrades and advances customizations</p>
            </div> 
            <div>
                <h3>Orbitz - Landing Pages</h3>
                <span>2011/2015</span>
                <p>Microsites production supporting Dynaflex tags, an Alfresco plugin to dynamically insert data into pages. The site was created using Less, jsp, Html and CSS3.</p>
            </div>                        
            <div>
                <h3>Damashek – CareOne Mobile Application </h3>
                <span>2010/2011</span>
                <p>Micro-credits application for iPhone and Android, developed using PhoneGap framework, HTML5 and jQTouch.</p>
            </div>
        </div>                

    <div class="paragraph">
        <div> 
            <hr class="heading-border"/>
            <h2 class="heading-six">Education</h2>   
        </div>
        <div>
            <p>2004 - 2012</p>
            <span>UNIVERSIDAD TECNOLÓGICA NACIONAL</span>
        </div>                
    </div>
    
    <div class="paragraph">
        <div> 
            <hr class="heading-border"/>
            <h2 class="heading-six">Languages</h2>
        </div>
        <div>
            <h3>ENGLISH</h3>
            <span>Intermediate Level</span>
        </div>                
    </div>                

    <div class="paragraph">    
        <div> 
            <hr class="heading-border"/>
            <h2 class="heading-six">Courses</h2>
        </div>
        
        <div>
            <h3>UDEMY</h3>
            <span>2018 - 2019</span>
        </div> 

        <ul class="paragraph">
            <li>Advanced CSS and Sass: Flexbox, Grid, Animations! - By Jonas Schmedtmann - <b>In Course...</b></li>
            <li>CSS Bootcamp - Master in CSS (Including CSS Grid / Flexbox) - By Lasha Nozadze <b>In Course...</b></li>
            <li>CSS Flexbox - Mastering the Basics - By Vishwas Gopinath </li>
            <li>The Ultimate CSS Flexbox Course - By Gilad Tsur Mayer</li>
            <li>Curso de FlexBox desde 0 - By Erick Mines</li>
            <li>Apple Watch UX: Design Beautiful UI and User Experiences - By Pablo Stanley.</li>
            <li>SEO Tutorial - By Daragh Walsh.</li>
            <li>The Complete Font Awesome 5 Course: Beginner's Guide 2018 - By Clarence A.E.</li>
            <li>Semantic UI - By Aditya Giri.</li>
            <li>Wireframing with Balsamiq Mockups - By Leon Barnard.</li>
            <li>Bootstrap 4: Create a landing page - By Jeppe Schaumburg Jensen.</li>
            <li>Mastering CSS 3.0 Selectors - By Everything Nice.</li>
            <li>Angular 6 Overview - for Absolute Beginners By Harsha Vardhan </li>
            <li>Aprende a crear animaciones y efectos interactivos con CSS3 By Juan Fernando Urrego.</li>
            <li>Angular: Convierte cualquier template HTML en una WebAPP by Fernando Herrera</li>
        </ul>
        
        <div>
            <h3>ACAMICA</h3>
            <span>2017 - 2018</span>
        
        </div> 
        <ul class="paragraph">
            <li>Advanced Responsive Design</li>
            <li>CSS Animations</li>
            <li>CSS Advance</li>
            <li>CSS Intermediate</li>
            <li>SVG Optimization</li>
            <li>JQuery</li>
            <li>Themes in Wordpress</li>
            <li>Sketch 3</li>
            <li>Applications Design</li>
            <li>Web Accessibility Testing</li>
            <li>Wireframing and Prototyping</li>
            <li>Dominating Sass</li>
            <li>GIT</li>
            <li>Debugging</li>
            <li>Agile Methodology of Software Development</li>
            <li>Scrum</li>
            <li>Product Planning</li>           
            <li>Harnessing the power of AI</li>
            <li>Becoming an A.I. Designer</li>
            <li>Design Research for discovery</li>
            <li>Top 10 Questions about a discovery project</li>
            <li>Data & Analytics applied to Digital Marketing</li>
            <li>Basics of Axure</li>
            <li>Developing with quality in Agile</li>
            <li>Usability Heuristics, back to basics.</li>
            <li>Heroku</li>
            <li>Node.js</li>
            <li>Arduino                      </li>
            <li>Photoshop Essential</li>
            <li>Code Reviews</li>
            <li>Design fundamentals</li>
            <li> Introduction to web application development</li>
            <li>SVG images for the web</li>
        </ul> 

        <a href="https://globant.acamica.com/@estefania_carevich/cursos-completados"  target="_blank" class="btn-download btn-download__complete-couse" title="See all the courses" >See all Courses' Certifications &rarr;</a>
    </div>                

    <div class="row paragraph">
        <div> 
            <hr class="heading-border"/>
            <h2 class="heading-six">Hobbies</h2>    
        </div>
        <div>
            <h3>International Lifeguard</h3>
            <p>2011 - 2012</p>
            <span>Curz Roja Argentina</span>
            <h3 class="u-margin-top-small"> Waterpolo Player</h3>
            <h3 class="u-margin-top-small">Gardener</h3>
            <p>2018</p>
            <span>Universidad Libre del Ambiente</span>
        </div>                
    </div>

</div>
</div>
</section>