<section class="section-about animated fadeIn" id="about">    
    <div class="u-text-center u-margin-bottom-big">
        <h2 class="heading-secondary">
            Résumé
        </h2>
          <p class="paragraph paragraph__resume u-font-size-paragraph u-margin-bottom-medium">Over 9 years of experience as web developer in front-end. I like some much work with different tecniques and the latest properties related to CSS3, HTML5, @animations and new tecniques. I been working with different tencologies like php, jsp, javascript, creating unit test, Testing and using different Css Frameworks like bootstrap & foundation but 2 year ago I deceided work with how to create a different templates with HTML5, CSS3, Flexbox and Grid Layout.</p>
    </div>

    <div class="row u-default-font-size">
        <div class="col-1-of-2"> 
                <p>Las Updated: <strong>February 2019.</strong></p>
                <hr class="heading-border"/>
                <h2 class="heading-five">Work Experience</h2>
            <p class="paragraph">
            </p>    
        </div>
        <div class="col-1-of-2">
            <h3 class="u-margin-top-medium">FREELANCE</h3>
            <span>Nov 2018 - Present</span>
            <hr>
            <div>
                <p><strong>Das Meer Blau</strong><br>
                <span>2018 - Present</span></p>
                <p>This project is created with the latest new properties in HTML5, CSS3 and @animations.</p>
                Web Site Details:
                <p>CSS architecture: The 7-1 rule, component-based design, the BEM methodology, writing reusable, maintainable and scalable code.</p>
                <P>CSS techniques to create fantastic designs and effects:
                clip-path, background-clip, mask-image, background-blend-mode, shape-outside, filter, backdrop-filter, object-fit, transform, column-count, hyphens, perspective, calc() and custom CSS properties.</P>
                <p>Sass: variables, partials, imports, mixins, functions and extends.
                Videos in HTML:  building a background video effects.</p>
                <p>Responsive images in HTML and CSS for faster pageloads: resolution switching, density switching, art direction.</p>
                <p>Advanced CSS, animations with @keyframes and transition.</p>
                <p> This Site use NPM: setting up a development process to compile Sass and automatic browser reload, and creating a build process to concatenate, prefix and compress CSS files.
            </div>                         
            <div>
                <p><strong>Wordpress' Page</strong><br>
                <span>2018/2019</span></p>
                <p>Nicolas Iribarne Artist. Website in development using php and Divi Builder & Monarch'Plugin.</p>
            </div>
            <div>
                <p><strong>Bootstrap'Landing Page</strong><br>
                <span>2018 - Present</span></p>
                <p>Landing Page related to history  about Bohemian Rhapsody song. This Page contain a lot of information about this song. This page is in process.</p>
            </div>
        </div>   
        <div class="col-1-of-2">
            <h3 class="u-margin-top-medium">GLOBANT</h3>
            <p>Web UI Developer</p>
            <span>Jun 2010   –   Oct 2018    •    8 year 4 months</span>
            <hr>
            <div>
                <p><strong>Chicago Tribune & Los Angeles Times</strong><br>
                <span>2013/2017</span></p>
                <p>Refactor Chicago Tribune and Los Angeles Times user interface to newest technologies. LATimes live in May 2013. Using pure responsive HTML5/CSS3 with Infuse and jQuery. Best practices and guidelines definition.</p>
            </div>
    
            <div>
                <p><strong>F.Biz</strong><br>
                <span>Apr-Jun/2014</span></p>
                <p>Vodafone Brasil in this project was maintained and added  a new functionality, was builded in Wordpress using Sass and HTML5.</p>
            </div>                
        
            <div>
                <p><strong>Vodafone</strong><br>
                <span>Jan-Apr/2014</span></p>
                <p>Website developed in Wordpress using HTML5 & Less.</p>
            </div> 

            <div>
                <p><strong>Deloitte Mar Central</strong><br>
                <span>2014/2016</span></p>
                <p>Site created using Bootstrap and Javascript MAR Central was an existing Sharepoint 2010 tool developed by a Third Party for Deloitte. Its main purpose is to facilitate M&A engagements for the clients of the consulting practice. As part of its roadmap, a redesign overhaul was requested. Aside from the look & feel, improvement in the end user usability as well as the operation usability was requested.The goal of the architecture was not to replace the current technology, but to build a side-by-side optimization that improves the UX capabilities while still maintaining the flexibility and familiarity of SharePoint for future upgrades and advances customizations</p>
            </div> 
            <div>
                <p><strong>Orbitz - Landing Pages</strong><br>
                <span>2011/2015</span></p>
                <p>Microsites production supporting Dynaflex tags, an Alfresco plugin to dynamically insert data into pages. The site was created using Less, jsp, Html and CSS3.</p>
            </div>                        
            <div>
                <p><strong>Damashek – CareOne Mobile Application </strong><br>
                <span>2010/2011</span></p>
                <p>Micro-credits application for iPhone and Android, developed using PhoneGap framework, HTML5 and jQTouch.</p>
            </div>

            <a href="files/Carevich_Estefania.pdf" target="_blank" class="btn-download btn-download__complete-couse" title="Download CV" >Download CV &rarr;</a>
        </div>                
    </div>

    <div class="row u-default-font-size">
        <div class="col-1-of-2"> 
                <hr class="heading-border"/>
                <h2 class="heading-six">Education</h2>
            <p class="paragraph">
            </p>    
        </div>
        <div class="col-1-of-2">
            <p>2004 - 2012</p>
            <span>UNIVERSIDAD TECNOLÓGICA NACIONAL</span>
        </div>                
    </div>
    <div class="row u-default-font-size">
        <div class="col-1-of-2"> 
                <hr class="heading-border"/>
                <h2 class="heading-six">Languages</h2>
            <p class="paragraph">
            </p>    
        </div>
        <div class="col-1-of-2">
            <h3 class="u-margin-top-medium">ENGLISH</h3>
            <span>Intermediate Level</span>
        </div>                
    </div>                
    <div class="row u-default-font-size">
        <div class="col-1-of-2"> 
                <hr class="heading-border"/>
                <h2 class="heading-six">Courses</h2>
            <p class="paragraph">
            </p>    
        </div>
        <div class="col-1-of-2">
            <h3 class="u-margin-top-medium">UDEMY</h3>
            <p>2018 - 2019</p>
                <p class="paragraph">
                    <ul>
                        <li>Advanced CSS and Sass: Flexbox, Grid, Animations! - By Jonas Schmedtmann - <b>In Course...</b></li>
                        <li>CSS Bootcamp - Master in CSS (Including CSS Grid / Flexbox) - By Lasha Nozadze <b>In Course...</b></li>
                        <li>CSS Flexbox - Mastering the Basics - By Vishwas Gopinath </li>
                        <li>The Ultimate CSS Flexbox Course - By Gilad Tsur Mayer</li>
                        <li>Curso de FlexBox desde 0 - By Erick Mines</li>
                        <li>Apple Watch UX: Design Beautiful UI and User Experiences - By Pablo Stanley.</li>
                        <li>SEO Tutorial - By Daragh Walsh.</li>
                        <li>The Complete Font Awesome 5 Course: Beginner's Guide 2018 - By Clarence A.E.</li>
                        <li>Semantic UI - By Aditya Giri.</li>
                        <li>Wireframing with Balsamiq Mockups - By Leon Barnard.</li>
                        <li>Bootstrap 4: Create a landing page - By Jeppe Schaumburg Jensen.</li>
                        <li>Mastering CSS 3.0 Selectors - By Everything Nice.</li>
                    </ul>
                <br>
                <h3 class="margin-top-medium">ACAMICA</h3>
                <p>2017 - 2018</p>
                <p class="paragraph">
                    <ul>
                    <li>Advanced Responsive Design</li>
                    <li>CSS Animations</li>
                    <li>CSS Advance</li>
                    <li>CSS Intermediate</li>
                    <li>SVG Optimization</li>
                    <li>JQuery</li>
                    <li>Themes in Wordpress</li>
                    <li>Sketch 3</li>
                    <li>Applications Design</li>
                    <li>Web Accessibility Testing</li>
                    <li>Wireframing and Prototyping</li>
                    <li>Sass</li>
                    <li>GIT</li>
                    <li>Debugging</li>
                    <li>Agile Methodology of Software Development</li>
                    <li>Scrum</li>
                    <li>Product Planning</li>                           
                </ul> 
            <a href="https://globant.acamica.com/@estefania_carevich/cursos-completados"  target="_blank" class="btn-download btn-download__complete-couse" title="See all the courses" >See all Courses' Certifications &rarr;</a>
        </div>                
    </div>

    <div class="row u-default-font-size">
        <div class="col-1-of-2"> 
                <hr class="heading-border"/>
                <h2 class="heading-six">Hobbies</h2>
            <p class="paragraph">
            </p>    
        </div>
        <div class="col-1-of-2">
            <h3 class="u-margin-top-medium">International Lifeguard</h3>
            <p>2011 - 2012</p>
            <span>Curz Roja Argentina</span>
            <h3 class="u-margin-top-small"> Waterpolo Player</h3>
            <h3 class="u-margin-top-small">Gardener</h3>
            <p>2018</p>
            <span>Universidad Libre del Ambiente</span>
        </div>                
    </div>
</section>                      