<section class="section-about" id="about">
    <div class="u-text-center u-margin-bottom-big">
        <h2 class="heading-secondary">
            Flexbox
        </h2>
    </div>

    <div class="flexbox-container">
            <div class="flexbox-container__box-1">
                <h3 class="heading-tertiary u-margin-bottom-small">Landing Page created with Flexbox</h3>
                <p class="paragraph">
                    This project was created with Flexbox and HTML5, CSS3 and @animations.<br>
                    SVG images was used with the icons that generating sprites, changing SVG colors in CSS and best practices. <br>
                    BEM methodology & Mask property was used in this Landing page.
                </p>    
                <a href="flexbox/flexbox1/index.html" target="_blank" class="btn-text">Click here &rarr;</a>                    
            </div>
        <div class="flexbox-container__box-2">
            <div class="composition">
                <img srcset="assets/img/nat-3.jpg 300w"
                    sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" 
                    alt="Flexbox Hotel" class="composition__photo composition__photo--p1">
                
                <img srcset="assets/img/nat-2.jpg 300w"
                    sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" 
                    alt="Flexbox Hotel" class="composition__photo composition__photo--p2">

                <img srcset="assets/img/nat-1.jpg 300w"
                    sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" 
                    alt="Flexbox Hotel" class="composition__photo composition__photo--p3">
            </div>
        </div>                
    </div>
</section>

<section class="section-features">
    <div class="u-text-center u-margin-bottom-small">
        <h2 class="heading-four">
            Technology used
        </h2>
    </div>
    <div class="containerFeatureBox">
        
        <div *ngFor="let tecnol of tecnService.team" class="feature-boxContainer">
            
            <div class="feature-box">
                <i class="feature-box__icon {{tecnol.url}}"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">{{tecnol.title}}</h3>
                <p class="feature-box__text">   
                    {{tecnol.description}}
                </p>
            </div>

        </div>
    </div>                
</section>                    

<section class="section-tour">
    <div class="u-text-center u-margin-top-big u-margin-bottom-medium">
        <h2 class="heading-secondary">
            ADVANCEd CSS
        </h2>
        <p class="paragraph">
            THE FOLLOWINGS CARDS USE ONE OF THE LATEST PROPERTY ABOUT CSS3.
        </p>
    </div>
    <!-- Cards -->
    <div class="containerCardsAnimated">
        <div class="card">
            <div class="card__side card__side--front card__side--black">
                <div class="card__picture card__picture--1">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Jack Daniel's</span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li>Name: Jack Daniels Old N7</li>
                        <li>Type: Bourbon</li>
                        <li>Line: Tennesse Whiskey</li>
                        <li>Vol.750ml</li>
                    </ul>
                </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                    <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                        <p class="card__price-value">USD 297</p>
                    </div>
                    <a href="#" class="btn btn--white">Buy now!</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--4">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--4">Cerveza Toña</span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li>Nombre: Cerveza Toña</li>
                        <li>Origen: Nicaragua</li>
                        <li>Vol. 4.6%</li>
                        <li>Año: 1977</li>
                    </ul>
                </div>

            </div>
            <div class="card__side card__side--back card__side--back-4">
                <div class="card__cta">
                    <div class="card__price-box">
                        <p class="card__price-only">Sólo</p>
                        <p class="card__price-value">USD 30</p>
                    </div>
                    <a href="#" class="btn btn--white">Comprar Ahora!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-stories u-conic-gradient u-margin-bottom-big">
<div class="u-text-center u-margin-bottom-small">
    <h2 class="heading-secondary u-margin-bottom-medium">
        FLEXBOX
    </h2>
</div>
<div class="flexbox-container">
    <div class="flexbox-container__box-1">
        <h3 class="heading-tertiary u-margin-bottom-small">Landing Page created with Flexbox</h3>
        <p class="paragraph">
            This project was created with Flexbox and HTML5, CSS3 and @animations.<br>
            SASS & BEM methodology was used in this Landing page.
        </p>
        <a href="flexbox/flexbox2/index.html" target="_blank" class="btn-text">Click here &rarr;</a>                    
    </div>
    <div class="flexbox-container__box-2">
        <div class="composition">
            <img srcset="assets/img/nat-40.jpg 300w"
                sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" 
                alt="Grand Hotel Details" class="composition__photo composition__photo--p1">
            
            <img srcset="assets/img/nat-41.jpg 300w"
                sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" 
                alt="Grand Hotel Rooms" class="composition__photo composition__photo--p2">

            <img srcset="assets/img/nat-42.jpg 300w"
                sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" 
                alt="Grand Hotel Home" class="composition__photo composition__photo--p3">
        </div>
    </div>                
</div>
</section>