//COLORS
$color-primary: #fac70b;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-title:#FFFF00;

$color-primary-button: #5D46FA;
$color-white: #fff;
$color-black: #000;
$color-red-form: red;
$color-red: #df0e62; //D53D13;
$color-secondary-light: #fac70b;
$color-secondary-dark: #127681; //ff7730;

$color-tertiary-light: #df0e62;  //FE5F1B; //ff98ff
$color-tertiary-dark: #fac70b; //103754; //5643fa
$color-tertiary-dark-2: #999;
$color-tertiary-dark-3: #333;
$color-tertiary-dark-4: #b4b;

//BACKGROUND
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #EEE;
$color-gray-light-3: #bbb;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-small: 2rem;
$gutter-horizontal: 6rem;
// $default-font-size: 1.75rem;
// $default-font-size: 1.8rem;
$default-font-size: 2rem;
$font-size-link: 2rem;
$font-size-paragraph: 2.25rem;